body {
    background-color: #F8E5BB;
}
.Article {
    color: rgb(146, 146, 146);
    background-color: #e2b34c;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.menu-bar {
    background: #e2b34c;
    padding: 10px 20px;
    display: flex;
    gap: 8px;
    width: fit-content;
    margin: 20px auto;
    border: 5px solid #e4b145;
    border-radius: 10px;
    box-shadow: 0 4px 8px #e2b34c;
}
.menu-link {
    display: block;
    background: #e2b34c;
    color: rgb(146, 146, 146);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 24px 32px;
    border-radius: 0;
    transition: background 0.2s;
    text-align: center;
}
.content {
    margin: 0 auto;
    padding: 20px; 
    background-color: #c29638;
    width: 80vw;
    min-height: 100vh;
    height: auto;
    opacity: 0.8;
}

.dialogue {
    margin-left: 20px;
    font-style: italic;
    color: #4A4A4A;
    line-height: 1.6;
}
.ff1 {
    background-color: #e2b34c;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
